<nav class="top-nav">
    <a class="top-nav-brand" href="">WgpuSharp</a>
    <div class="top-nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="triangle">Triangle</NavLink>
        <NavLink class="nav-link" href="cube">Cube</NavLink>
        <NavLink class="nav-link" href="reaction-diffusion">Reaction-Diffusion</NavLink>
        <NavLink class="nav-link" href="mesh-viewer">Mesh Viewer</NavLink>
        <NavLink class="nav-link" href="fly">Fly Camera</NavLink>
        <NavLink class="nav-link" href="msaa">MSAA</NavLink>
        <NavLink class="nav-link" href="shader-playground">Shader Playground</NavLink>
        <NavLink class="nav-link nav-link-accent" href="editor">Scene Editor</NavLink>
    </div>
</nav>
